* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: lighter;
    /* text-align: center; */
}
hr{
    margin: 30px;
}

* ul li {
    list-style: none;
}

.helloworld,.counter,.displaylist,.toggleswitch,.timer,.backgroundchange {
    text-align: center;
}

.counter p {
    font-size: 40px;
    font-weight: lighter;
}

.counter button {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.UserInput {
    text-align: center;
    margin-top: 10px;
}

.UserInput input {
    padding: 10px;
    font-weight: lighter;
}

.displaylist ul li {
    list-style: none;
}


.fetchdata {
    text-align: left;
}
